 <div class="container-fluid badcustomerservices-block">
        <div class="container badcustomerservices-inner">
            {# <div class="badcustomerservices-main-title">
                <div class="badmain-title-wrapper">
                    <div class="badmain-title">
                        {$arr_main_data.title}
                    </div>
                    <div class="badmain-sub-title">
                        {$arr_main_data.sub_title}
                    </div>
                </div>
            </div> #}

            <div class="row badcustomerservices-content">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 badcustomerservices-content-inner badcustomerservices-1">
                    <div class="badcustomerservices-content-inner-block">
                        <div class="badcustomerservices-content-image-wrapper">
                            {#  <div class="badcustomerservices-content-image"></div> #} 
                            <i class="lnr lnr-car"></i>   
                        </div>
                        <div class="badcustomerservices-content-box">
                            <div class="badcustomerservices-content-title">
                                 {{ title_1 }}
                            </div>
                            <div class="badcustomerservices-content-sub-title">
                                {{ description_1 }}
                            </div>
                        </div>
                    </div>
                </div>
                

                
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 badcustomerservices-content-inner badcustomerservices-2">
                    <div class="badcustomerservices-content-inner-block">
                        <div class="badcustomerservices-content-image-wrapper">
                        {# <div class="badcustomerservices-content-image"></div> #}
                        <i class="lnr lnr-history"></i>
                        </div>
                        <div class="badcustomerservices-content-box">
                        <div class="badcustomerservices-content-title">
                             {{ title_2 }}
                        </div>
                        <div class="badcustomerservices-content-sub-title">
                            {{ description_2 }}
                        </div>
                        </div>
                    </div>
                </div>
               

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 badcustomerservices-content-inner badcustomerservices-3">
                    <div class="badcustomerservices-content-inner-block">
                        <div class="badcustomerservices-content-image-wrapper">
                            {# <div class="badcustomerservices-content-image"></div> #}
                            <i class="lnr lnr-calendar-full"></i>
                        </div>
                        <div class="badcustomerservices-content-box">
                            <div class="badcustomerservices-content-title">
                                 {{ title_3 }}
                            </div>
                            <div class="badcustomerservices-content-sub-title">
                                {{ description_3 }}
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 badcustomerservices-content-inner badcustomerservices-4">
                    <div class="badcustomerservices-content-inner-block">
                        <div class="badcustomerservices-content-image-wrapper">
                            {# <div class="badcustomerservices-content-image"></div> #}
                            <i class="lnr lnr-phone"></i>
                        </div>
                        <div class="badcustomerservices-content-box">
                            <div class="badcustomerservices-content-title">
                                 {{ title_4 }}
                            </div>
                            <div class="badcustomerservices-content-sub-title">
                                {{ description_4 }}
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>

{# <div class="container-fluid badcustomerservices-block">
        <div class="container badcustomerservices-inner">
         <div class="badcustomerservices-main-title">
            <div class="badmain-title-wrapper">
                <div class="badmain-title">
                   {{ parenttitle }}
                </div>
                <div class="badmain-sub-title">
                   {{ parentsubtitle }}
                </div>
            </div>
        </div> 
        <div class="row badcustomerservices-content">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 badcustomerservices-content-inner badcustomerservices-1">
                <div class="badcustomerservices-content-inner-block">
                    <div class="badcustomerservices-content-image-wrapper">
                        <div class="badcustomerservices-content-image"></div>
                    </div>
                    <div class="badcustomerservices-content-box">
                        <div class="badcustomerservices-content-title">
                            {{ title_1 }}
                        </div>
                        <div class="badcustomerservices-content-sub-title">
                            {{ description_1 }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 badcustomerservices-content-inner badcustomerservices-2">
                <div class="badcustomerservices-content-inner-block">
                    <div class="badcustomerservices-content-image-wrapper">
                    <div class="badcustomerservices-content-image"></div>
                    </div>
                    <div class="badcustomerservices-content-box">
                    <div class="badcustomerservices-content-title">
                        {{ title_2 }}
                    </div>
                    <div class="badcustomerservices-content-sub-title">
                        {{ description_2 }}
                    </div>
                    </div>
                </div>
            </div>
            
           
           <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 badcustomerservices-content-inner badcustomerservices-3">
                <div class="badcustomerservices-content-inner-block">
                    <div class="badcustomerservices-content-image-wrapper">
                        <div class="badcustomerservices-content-image"></div>
                    </div>
                    <div class="badcustomerservices-content-box">
                        <div class="badcustomerservices-content-title">
                            {{ title_3 }}
                        </div>
                        <div class="badcustomerservices-content-sub-title">
                            {{ description_3 }}
                        </div>
                    </div>
                </div>
            </div>
         
           <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 badcustomerservices-content-inner badcustomerservices-4">
                    <div class="badcustomerservices-content-inner-block">
                        <div class="badcustomerservices-content-image-wrapper">
                            <div class="badcustomerservices-content-image"></div>
                        </div>
                        <div class="badcustomerservices-content-box">
                            <div class="badcustomerservices-content-title">
                                {{ title_4 }}
                            </div>
                            <div class="badcustomerservices-content-sub-title">
                                {{ description_4 }}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
#}

