<div id="badPopupnewsletter" class="modal fade" tabindex="-1" role="dialog">
        <div class="badPopupnewsletter-i" role="document">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
            <div class="badnewsletter-popup-block">
                <div class="badnewsletter-popup-inner col-xs-12 col-md-7 col-md-offset-5">
                    <div class="badnewsletter-popup-content">
                        {# <div class="badnewsletter-popup-content-images">
                            <img src="{{ image }}"> 
                        </div> #}
                        <div class="badnewsletter-popup-content-title">
                                <div class="newsletter_title">
                                    {{ heading }}
                                </div>
                                <div class="badContent">
                                    {{ subtitle }}
                                </div>
                              {#  <div class="badnewsdescription">
                                {{ description }}
                                </div> #}
                            <div class="badnewsletterp-popup">
                                <input class="inputNew" id="badnewslettr-inpute" type="text" name="email" placeholder="Enter your mail..."/>
                                <button id="badclick" class="badnewsletter-popup-send-reqest button_unique">Subscribe</button>
                                <div id="badhtmldiv" class="badAlert"></div>
                            </div>
                        <div class="badnewsletter-popup-bottom">
                        <div class="badnewsletter-popup-checkbox">  
                            <input id="bad-newsletter-dont-show-again" type="checkbox">
                        </div>
                        <label class="bad-newsletter-dont-show-again" for="bad-newsletter-dont-show-again">Do not show this popup again</label>
                        </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{# <div id="badPopupnewsletter" class="modal fade" tabindex="-1" role="dialog">
    <div class="badPopupnewsletter-i" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Close</button>
        <div class="badnewsletter-popup-block">
            <div class="badnewsletter-popup-inner">
                <div class="badnewsletter-popup-content">
                    <div class="badnewsletter-popup-content-images col-md-6">
                        <img src="{{ image }}" alt="title" class="lazynot">
                    </div>
                    <div class="badnewsletter-popup-content-title col-md-6">
                            <div class="newsletter_title">{{ heading }}</div>
                            <div class="badContent"><p>{{ subtitle }}</p></div>
                            <div class="badnewsletterp-popup">
                                <div class="badAlert"></div>
                                <input class="inputNew" id="badnewslettr-inpute" type="text" name="email" placeholder="Enter your mail..."/>
                                <button id="badclick" class="badnewsletter-popup-send-reqest button_unique">Subscribe</button>
                            </div>
                        
                            <div id="badhtmldiv"></div>
                        <div class="badnewsletter-popup-bottom">
                            <div class="badnewsletter-popup-checkbox">  
                                <input id="bad-newsletter-dont-show-again" type="checkbox">
                            </div>
                            <label class="bad-newsletter-dont-show-again" for="bad-newsletter-dont-show-again">Do not show this popup again</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}
