<!-- organic_organix_101_theme\catalog\view\theme\organic_organix_101_theme\template\extension\module\tntofferbanner.twig -->
<div class="container-fluid badofferbanner-block">
    <div class="container badofferbanner-content-wrapper">
      <div class="badofferbanner_image">
          <img src="{{ image }}">
      </div>
        <div class="badofferbanner-content-wrapper">
            <div class="badofferbanner-content-box-inner">
                <div class="badofferbanner-content-box">
                    <div class="badofferbanner-content-title">
                        <div class="badmain-title-wrapper">
                          <div class="badmain-title">{{ title }}</div>
                        </div>                        
                        <h4 class="badsub-title">{{ description }}</h4>
                        <h6 class="baddescription">{{ short_description }}</h6>
                        <div class="badofferbanner-content-btn-wrapper">
                          <a href="{{ link }}" title=" {{ title }}">
                              {{ buttontext }}
                          </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- organic_organix_101_theme\catalog\view\theme\organic_organix_101_theme\template\extension\module\tntofferbanner.twig -->