<div class="container-fluid badsingleblock-block">
    <div class="container badsingleblock-content-wrapper">
        <div class="row badsingleblock-content-wrapper">

            <div class="col-lg-6 col-md-12 badsingleblock-content-box-inner">
                <div class="badsingleblock-content-box">
                    <div class="badsingleblock-content-title">
                        {{ title }}
                    </div>
                    <div class="badsingleblock-content-sub-title">
                        {{ subtitle }}
                    </div>

                    <div class="badsingleblock-content-description">
                        {{ description }}
                    </div>

                    <div class="badsingleblock-content-btn-wrapper">
                        <a href="{{ link }}" title=" {{ title }}">
                            {{ buttontext }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 badsingleblock-content-img-inner">
                <div class="badsingleblock-content-img">
                    <div class="badsingleblock-content-img-one">
                        <img src="{{ image2 }}" alt=" {{ title }}">
                    </div>
                    <div class="badsingleblock-content-img-two">
                        <img src="{{ image1 }}" alt=" {{ title }}">
                    </div>
                </div>
            </div>

        </div>
    </div> 
</div>