{% if languages|length > 1 %}
    <div id="_desktop_language_selector">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
            <div class="badheaderlanguage-block">
                <div class="language-selector-wrapper badheaderlanguage-inner">
                    <div class="language-selector dropdown js-dropdown">
                        <div class="btn-unstyle badheaderlanguage-btn"  aria-haspopup="true" aria-expanded="false" aria-label="Sélecteur de langue">
                            <span class="expand-more">{% for language in languages %}{% if language.code == code %}{{ language.name }}{% endif %}{% endfor %}</span><i class="fa fa-angle-down"></i>

                        </div>
                            <ul class="dropdown-menu badheaderlanguage-dropdown" >
                                {% for language in languages %}
                                <li><a data-name="{{ language.code }}" title="{{ language.code }}" class="language-select dropdown-item" ><span>{{ language.name }}</span></a></li>
                                {% endfor %}
                            </ul>
                      </div>
                  </div>
              </div>
              <input type="hidden" name="code" value="" />
              <input type="hidden" name="redirect" value="{{ redirect }}" />
            </form>
      </div>
{% endif %}

